<h1>Attire Type</h1>


<%= link_to(image_tag("dress.jpg", :alt => "dress", :title => "Dress", :class => 'thumb'), attires_by_type_path(@attire[2])) %>
Dress <br>
<%= link_to(image_tag("top.jpg", :alt => "top", :title => "Top", :class => 'thumb'), attires_by_type_path(@attire[5])) %>
Top <br>
<%= link_to(image_tag("bottom.jpg", :alt => "Bottom", :title => "Bottom", :class => 'thumb'), attires_by_type_path(@attire[1])) %>
Bottom <br>
<%= link_to(image_tag("shoes.jpg", :alt => "Shoes", :title => "Shoes", :class => 'thumb'), attires_by_type_path(@attire[4])) %>
Shoes <br>
<%= link_to(image_tag("hat.jpg", :alt => "Hats", :title => "Hats", :class => 'thumb'), attires_by_type_path(@attire[3])) %>
Hats <br>
<%= link_to(image_tag("accessories.jpg", :alt => "Accessories", :title => "Accessories", :class => 'thumb'), attires_by_type_path(@attire[0])) %>
Accessories
