<h1>Attire Type</h1>


<%=   image_tag 'dress.jpg', :alt => 'dress', :class => 'thumb'  %>
Dress <br>
<%=  image_tag 'top.jpg', :alt => 'top', :class => 'thumb'  %>
Top <br>
<%=  image_tag 'bottom.jpg', :alt => 'bottom', :class => 'thumb'  %>
Bottom <br>
<%=  image_tag 'shoes.jpg', :alt => 'shoes', :class => 'thumb'  %>
Shoes <br>
<%=  image_tag 'hat.jpg', :alt => 'hat', :class => 'thumb'  %>
Hat <br>
<%=  image_tag 'accessories.jpg', :alt => 'accessories', :class => 'thumb'  %>
accessories <br>
