<div class="container">
  <div class="wrapper">
      <div class ="show_img">
        <%= image_tag @attire.image, :alt => @attire.name, :class => 'feature2'%>

      </div>

      <div class ="associate_img">
          <p class = "thumb_text">
            <h4>Associate Style </h4>
            <% if @attire.style.present? %>
            <%= link_to image_tag(@attire.style.image, :class =>'thumb2'), style_path(@attire.style.id)  %>
            <br>
            <%= @attire.style.style_type.capitalize %>
            <% end %>
          </p>
    </div>

    <div class = "nested">
      <% if @attire.style.present? %>
        <div>
          <h1 class ="item_name"><%= @attire.name.capitalize  %></h1>
        </div>
        <div>
            <ul>
              <li>Style: <%= @attire.style.style_type %></li>
              <p></p>
              <li>Description : <%= @attire.detail %></li>
            </ul>
        </div>
      <% else %>
      <div>
        <h1> Not available</h1>
      </div>
      <div>
        <h4> Not available</h4>
      </div>
      <% end %>

      <div class ="all_size">
        <a href="", class="size"> S </a>
        <a href="", class="size"> M </a>
        <a href="", class="size"> L </a>
      </div>

      <div class="fav_controller">
        <% if @current_user.present? %>
          <div class="add_button">

              <%= button_to "Add Fav List", "/users/fav_attire", :method => 'post', :class => "btn btn-dark", form: {style: 'display:inline-block;'}%>
          </div>

          <div class="add_button">
            <button type="button" class="btn btn-dark">
              <a href="", class = "add_list">Add Cart</a>
            </button>
          </div>

          <% else %>
          <div class="join_us_button">
            <%= button_to 'Ready to Shop?', '/users/new', :method => 'get', :class => "btn btn-dark", form: {style: 'display:inline-block;'} %>

          </div>

          <% end %>
        </div>

    </div>

  </div>


</div>
