<h1><%= @attire.name.capitalize  %></h1>


<%= image_tag @attire.image, :alt => @attire.name, :class => 'feature'%>

<ul>
  <li><%= @attire.name %></li>
  <li><%= @attire.style.style_type %></li>
  <li>Description : <%= @attire.detail %></li>

</ul>
