<div class="title">
  <h1>Log In</h1>
</div>
<h2><%= flash[:error] %></h2>

<%= form_tag login_path do %>
  <%= label_tag :email %>
  <%= email_field_tag :email %>
<br>

  <%= label_tag :password %>
  <%= password_field_tag :password %>

<br>
  <%= submit_tag "Log In" %>

</br>

<h2>New Member?</h2>

<p>Create your account with just 3 simple inputs </p>



<% end %>

<div class = "controls">
  <%= button_to 'Create New Account', new_user_path, :method => 'get', :class => "btn btn-primary", form: {style: 'display:inline-block;'} %>

  </div>
