<h1>Sign Up</h1>

<% if @user.errors.any? %>
  <ol>
    <% @user.errors.full_mssages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ol>

<% form_for @user do |f| %>

  <%= f.label_tag :name %>
  <%= f.name_field :name %>

  <%= f.label_tag :email %>
  <%= f.email_field :email %>

  <%= f.label_tag :password %>
  <%= f.password_field :password %>

  <%= f.label_tag :password_confirmation %>
  <%= f.password_confirmation_field :password_confirmation %>

  <%= f.submit "Sign Up!" %>

<% end %>
