<div class ="container ">

    <div class="row">
      <div class="home_img_content">
        <div class="mx-auto col-md-4 col-sm-4 col-xs-4">
          <%= link_to(image_tag("style_home3.jpg", :alt => "Fashion Style", :title => "Fashion Style", :class => 'home_img', :id => 'home_img1'), new_style_path )%>
          <div class="overlay">
            <span id="text"> <%= link_to "Fashion Style", new_style_path %> </span>
          </div>
        </div>

        <div class="mx-auto col-md-4 col-sm-4 col-xs-4">
          <div class="user_content">
          <% if @current_user.present? %>
            <h2>Welcome back</h2>
            <div>
              <%= image_tag @current_user.image, :alt => @current_user.name, :class => "user" if @current_user.image.present?%>

            </div>
              <h2><%= @current_user.name %></h2>
            <% else %>
                <%= image_tag("Logo_square_black.png", class: "home_content_logo")%>

            <% end %>
          </div>
        </div>
        <div class="mx-auto col-md-4 col-sm-4 col-xs-4">
          <%= link_to(image_tag("Aatire_range.png", :alt => "Clothing", :title => "Clothing", :class => 'home_img'), new_attire_path )%>
          <div class="overlay1">
            <span id="text"> <%= link_to "Attire Range", new_attire_path  %> </span>
          </div>
        </div>

    </div>
  </div>
