<h1>Fahsion Style</h1>

  <% @style.each do |f| %>
    <%= f %>

  <% end %>
<p></p>
<br>

  <%= link_to @style[0].upcase, styles_by_type_path(@style[0]) %> FASHION<br>
  <%= link_to @style[1].upcase, styles_by_type_path(@style[1]) %> FASHION<br>
  <%= link_to @style[2].upcase, styles_by_type_path(@style[2]) %> FASHION<br>
  <%= link_to @style[3].upcase, styles_by_type_path(@style[3]) %> FASHION<br>

<p></p>


  <div class = "fashion_type">
    <h2><%= @style[3].capitalize %> Fashion </h2> <br>
    <img src="https://blog.stylewe.com/wp-content/uploads/2016/11/vintage-fashion-style-3.jpg" alt="vintage style" class="feature">

  </div>
