<div class="title">
  <h1><%= @style.name.capitalize  %></h1>
</div>
<div class="container">
  <div class="wrapper2">
        <div>
            <%= image_tag @style.image, :alt => @style.name, :class => 'feature' if @style.image.present?%>
            <h5>Associate Style: <%= @style.style_type.capitalize %> </h5>
        </div>

        <div class ="associate_img_style">
            <h3>Associate Attire</h3>
            <% @style.attires.each do |attire| %>
              <%= link_to image_tag(attire.image, :class =>'thumb4'), attire %>
              <br>
              <%= attire.attire_type %>
              <br>
              <p></p>
            <% end %>

        </div>

        <div class ="associate_img_style">
            <h3>You may like</h3>
            <% @style_random.each do |random| %>
              <% next if random == @style %>
                <%= link_to image_tag(random.image, :class => 'thumb3'), random %>
                <br>
                <%= random.name %>
                <br>
                <p></p>
            <% end %>

        </div>
  </div>
</div>
