<!DOCTYPE html>
<html>
  <head>
    <title>FashionSite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Paytone+One|Varela+Round|Abril+Fatface|Chela+One|Lobster|Roboto|Montserrat|Raleway|Pacifico|Montserrat:300,400');
      </style>
  </head>

  <body>

    <nav class ="navbar navbar-dark bg-dark navbar-expand " >
   <div class ="container">
      <div class="text-center d-flex flex-row justify-content-around my-flex-container col-md-4 col-sm-4">
       <%= link_to 'Home', root_path, :class => "nav_round"  %>
         <% if @current_user.present? %>
           <%= link_to 'User list', users_path if @current_user.admin? %>
          <p class = "nav_round_user" >
           <%= @current_user.name%>
          </p>
           <%= link_to "Sign out", login_path, :method => 'delete', :class => "nav_round"  %>

         <% else %>
           <%= link_to 'Create', new_user_path, :class => "nav_round"  %>
           <%= link_to 'Log In', login_path, :class => "nav_round"  %>
         <% end %>
      </div>

      <div class="text-center d-flex flex-row justify-content-around my-flex-container col-md-4 col-sm-4">
         <%= image_tag 'Logo_long_white.png', :alt => "Chole logo", :class => 'home_logo' %>
      </div>

      <div class="text-center d-flex flex-row justify-content-around my-flex-container col-md-4 col-sm-4">
         <%= link_to 'Style', styles_new_path, :class => "nav_round"  %>
         <%= link_to 'Attire', attires_new_path, :class => "nav_round"  %>
         <%= link_to 'My List', fav_attire_path, :class => "nav_round" %>
      </div>
     </div>
   </nav>

<div class ="container_footer">
   <%= yield %>
<div class ="container">



   <footer class="fixed-bottom">
      <p>Sherine.GA.course &copy; 2018  <p>
   </footer>

  </body>
</html>
